
{% extends "base.html" %}

{% load socialaccount %}
{% block content %}
<h1>My Blog Login</h1>
{% if user.is_authenticated %}
    Welcome {{ user.username }} you are logged in
    <br>
    <br>
    You will be redirected in <span id="counter">5</span> seconds or select the link below.
    <br>
    <a href="/">Blogging Index</a>
{% else %}
    <form action="" method="POST">{% csrf_token %}{{ form.as_p }}
    <p><input type="submit" value="Log In"></p>
    </form>
    <a href="{% provider_login_url 'github' %}">GitHub Login</a>
{% endif %}

<script>
    setInterval(function() {
        var span = document.querySelector("#counter");
        var count = span.textContent * 1 - 1;
        span.textContent = count;
        if (count <= 0) {
            window.location.replace("/");
        }
    }, 1000);
</script>

{% endblock %}
